name: Build Windows Executable

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
          enable-cache: "false"
          restore-cache: "false"
          save-cache: "false"
      
      - name: Install dependencies
        run: |
          $env:PLAYWRIGHT_BROWSERS_PATH=0
          uv run playwright install chromium
          

      - name: Package Application with PyInstaller
        run: |
          # uv run pyinstaller main.py --onedir --name tjsc --add-data .\data\:.\data\
          uv run pyinstaller main.py -y `
            --onedir `
            --name tjsc `
            --contents-directory . `
            --icon data\static\logo_eproc.png `
            --collect-all=playwright `
            --add-data .\data\:.\data\ `
            --hide-console hide-early

          # uv run pyinstaller main.py -y `
          #   --onedir `
          #   --name tjsc `
          #   --contents-directory . `
          #   --icon .\data\static\logo_eproc.png `
          #   --collect-all=playwright `
          #   --add-data .\data\:.\data\ `
          #   --console `
          #   --debug all

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: TJSC
          path: dist/
